---
layout: false
---
<!DOCTYPE html>
<html lang="en">
{% include header.html %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script type="text/javascript" src="/js/verification.js"></script>

  <body>

    {% include topnav.html %}

    <div class="container">

      <div class="content">
        {% include page_header.html %}
        <div class="row">
          <div class="span8">
            <form action="/verification.php" onsubmit="return false;">
              <input type="hidden" name="exp_id" id="exp_id">
              <input type="hidden" name="ana_id" id="ana_id">
              <fieldset>
                <legend>GWO Validation Generator</legend>
                <div class="clearfix">
                  <label for="controlandtrackingscript">Control and Tracking Script</label>
                  <div class="input">
                    <textarea rows="5" name="controlandtrackingscript" id="controlandtrackingscript" class="xlarge"></textarea>
                    <span class="help-block">
                      Copy and paste the Control and Tracking Script code.
                    </span>
                  </div>
                </div>
                <div class="clearfix">
                  <label for="analytics">Google Analytics Custom Variable Index</label>
                  <div class="input">
                    <input type="text" size="3" name="cusvar_idx" id="cusvar_idx" class="small" value="5">
                    <span class="help-block">
                      Assign any value from 1 to 5. Please make sure this doesn't clash with other variables set on the site in question.
                    </span>
                  </div>
                </div>
                <div class="clearfix">
                  <label for="sections">Sections</label>
                  <div class="input">
                    <input type="text" size="30" name="sections[]" id="sections" class="sections xlarge">
                    <button class="btn danger" onclick="return remove_section(this)" style="display:none">del</button>
                  </div>
                </div>
                <div class="clearfix">
                  <div class="input">
                    <button class="btn success" onclick="return add_section(this)">add section</button>
                  </div>
                </div>
                <div class="actions">
                  <a id="verification_page" href="javascript:validationpage()" class="btn primary">1. Verification Page</a>
                  <a id="generate_codes" href="javascript:generate()" class="btn primary">2. Generate Codes</a>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="span6" style="background:#DDF4FB">
            <h3>Copy and Paste these Scripts</h3>
            <h5>Control and Tracking Script</h5>
            <textarea rows="6" id="control_script" class="copy xlarge"></textarea>
            <hr />
            <h5>Sections</h5>
            <div id="snippets"></div>
          </div>
        </div>
      </div>

      {% include footer.html %}

    </div> <!-- /container -->
    {% assign gwo_exp_id = '{{ gwo_exp_id }}' %}
    {% assign ga_cusvar_idx = '{{ ga_cusvar_idx }}' %}
    <textarea id="controltrackingcodetemp" style="display:none">
{% include gwo-control-script.html %}
{% include gwo-tracking-script.html %}
    </textarea>
  </body>
</html>

