<script type="text/javascript">
if (-1 < document.location.search.indexOf('wipe=true')) {
  window.setTimeout(function(){
    var cookies = document.cookie.split(";"), len = cookies.length;
    for (var i = 0; i < len; i++) {
        var cookie = cookies[i];
        var eqPos = cookie.indexOf("=");
        var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
        document.cookie = name + '=;expires=Thu, 01 Jan 1970 00:00:00 GMT; domain=' + location.hostname + '; path=' + location.pathname.replace(/[^\/]+$/, '');
        document.cookie = name + '=;expires=Thu, 01 Jan 1970 00:00:00 GMT; domain=' + location.hostname + '; path=/';
    }
  }, 1000);
}
</script>
