<!-- Alternative Google Website Optimizer Tracking Script -->
<script type="text/javascript">
// track a custom variable like "combo_2:small(1),large(0)"
if (typeof(utmx) == "function" && typeof(utmx_global_vd) == "object") {
  var _gaq = _gaq || [], _ss = [], _cw = "combo_" + utmx("combination") + ":";
  for (_s in utmx_global_vd) { _ss.push( utmx("variation_number", _s) ); }
  _cw += _ss.join(",");
  _gaq.push(['_setCustomVar', {{ ga_cusvar_idx }}, 'exp_{{ gwo_exp_id }}', _cw.substr(0,46), 3]);
}
</script>
<!-- End of Google Website Optimizer Tracking Script -->