<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" href="/dfpadsenseoptimiser/">An Online Marketing Experiment</a>
      <ul class="nav">
        <li{% if page.layout == 'default' %} class="active"{% endif %}><a href="/dfpadsenseoptimiser/">Home</a></li>
        <li{% if page.layout == 'book' %} class="active"{% endif %}><a href="/dfpadsenseoptimiser/book">Book</a></li>
        <li{% if page.layout == 'blog' %} class="active"{% endif %}><a href="/dfpadsenseoptimiser/blog">Blog</a></li>
      </ul>
    </div>
  </div>
</div>
