<div class="topbar">
  <div class="fill">
    <div class="container">
      <span class="brand" href="http://www.testically.org">a <a href="http://www.testically.org" target="_new">test.ical.ly</a> experiment</span>
      <ul class="nav">
        <li{% if page.layout == 'default' %} class="active"{% endif %}><a href="/">Home</a></li>
        <li{% if page.layout == 'book' %} class="active"{% endif %}><a href="/book">The Book</a></li>
        <li{% if page.layout == 'scneario' %} class="active"{% endif %}><a href="/scenarios">The Scenarios</a></li>
        <li{% if page.layout == 'blog' %} class="active"{% endif %}><a href="/blog">Blog</a></li>
      </ul>
    </div>
  </div>
</div>
