---
layout: false
title: "2. Default AdSense and GWO Integration"
abstract: "Simple page with three AdSense adverts on. Different styles for each ad unit are being tested."
permalink: "/demo/4-default-adsense-and-gwo-integration.html"
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ page.title }} &middot; Optimizing AdSense</title>
  <meta name="description" content="{{ page.abstract }}" />
  <meta name="author" content="Christian Schaefer caefer@ical.ly" />

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link href="/css/all.css" rel="stylesheet">

{% assign gwo_exp_id = '0443911789' %}
{% assign ga_cusvar_idx = '5' %}
{% include gwo-control-script.html %}
{% include google-analytics-code.html %}
</head>
<body>
  <h1>{{ page.title }}</h1>
  <p>{{ page.abstract }}</p>

  <fieldset><legend>small square</legend>

  <script type="text/javascript">
  (function(){
    var d = document, e1 = "DOMContentLoaded", e2 = "onreadystatechange", t = function(){
      if (typeof(utmx) == "function" && typeof(utmx_global_vd) == "object") {
        var v = []; for (s in utmx_global_vd) { v.push( utmx("variation_number", s) ); }
        try{
          var pageTracker = _gat._getTracker("UA-27081588-1");
          pageTracker._setCustomVar(5, 'Combination #'+utmx('combination'), v.join(','), 3);
          pageTracker._trackEvent('OptimizingAdSense', '0443911789');
        } catch(err) {}
      }
    }
    if(d.addEventListener){ d.addEventListener(e1, function(){ d.removeEventListener(e1, arguments.callee, false); t(); }, false); }
    else if(d.attachEvent) { d.attachEvent(e2, function(){ if(d.readyState === "complete"){ d.detachEvent(e2, arguments.callee); t(); }}); }
  })();
  </script>

  <script>utmx_section("adsense_color_one")</script>
  </noscript>
  <script type="text/javascript"><!--
  google_ad_client = "ca-pub-5296440426067087";
  /* test_small_square */
  google_ad_slot = "3016468276";
  google_ad_width = 200;
  google_ad_height = 200;
  //-->
  </script>
  <script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  </script>

  </fieldset>
  <fieldset><legend>button</legend>


  <script>utmx_section("adsense_color_two")</script>
  </noscript>
  <script type="text/javascript"><!--
  google_ad_client = "ca-pub-5296440426067087";
  /* test_schaltflaeche */
  google_ad_slot = "3810244282";
  google_ad_width = 125;
  google_ad_height = 125;
  //-->
  </script>
  <script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  </script>

  </fieldset>
  <fieldset><legend>half banner</legend>

  <script>utmx_section("adsense_color_three")</script>
  </noscript>
  <script type="text/javascript"><!--
  google_ad_client = "ca-pub-5296440426067087";
  /* test_halfbanner */
  google_ad_slot = "5078919057";
  google_ad_width = 234;
  google_ad_height = 60;
  //-->
  </script>
  <script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  </script>

  </fieldset>
</body>
</html>