<!DOCTYPE html>
<html lang="en">
{% include header.html %}

  <body>

    {% include topnav.html %}

    <div class="container">

      <div class="content">
        {% include page_header.html %}
        <div class="row">
          <div class="span10">
          {{ content }}
          </div>
          <div class="span4">
            <h3>History</h3>
            <ol>
            {% for post in site.posts reversed %}
              {% if post.layout == 'blog' %}
              <li><a href="/dfpadsenseoptimiser{{ post.url }}">{{ post.title }}</a></li>
              {% endif %}
            {% endfor %}
            </ol>
          </div>
        </div>
      </div>

      {% include footer.html %}

    </div> <!-- /container -->
  </body>
</html>
