<!DOCTYPE html>
<html lang="en">
{% include header.html %}

  <body>

    {% include topnav.html %}

    <div class="container">

      <div class="content">
        <div class="page-header">
          <h1>Optimizing AdSense <small>using Google Website Optimizer and DFP Small Business</small></h1>
        </div>
        <script type="text/javascript"><!--
        google_ad_client = "ca-pub-5588356258460519";
        /* top_linkbar */
        google_ad_slot = "2913575153";
        google_ad_width = 728;
        google_ad_height = 15;
        //-->
        </script>
        <script type="text/javascript"
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
        <div class="row">
          <div class="span10">
          {{ content }}
          </div>
          <div class="span4">
            <h3>History</h3>
            <ol>
            {% for post in site.posts reversed %}
              {% if post.layout == 'blog' %}
              <li><a href="/dfpadsenseoptimiser{{ post.url }}">{{ post.title }}</a></li>
              {% endif %}
            {% endfor %}
            </ol>
          </div>
        </div>
      </div>

      {% include footer.html %}

    </div> <!-- /container -->
  </body>
</html>
