<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/dfpadsenseoptimiser/css/bootstrap.css" rel="stylesheet">
    <link href="/dfpadsenseoptimiser/css/custom.css" rel="stylesheet">
    {% include google-analytics-code.html %} 
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/dfpadsenseoptimiser/">An Online Marketing Experiment</a>
          <ul class="nav">
            <li><a href="/dfpadsenseoptimiser/">Home</a></li>
            <li class="active"><a href="/dfpadsenseoptimiser/book/">Book</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        <div class="page-header">
          <h1>Optimizing Google AdSense <small>using Google Website Optimizer and DFP</small></h1>
        </div>
        <div class="row">
          <div class="span10">
          {{ content }}
          </div>
          <div class="span4">
            <h3>Table of Contents</h3>
            <ol>
              <li><a href="/dfpadsenseoptimiser/book/chapter-1-objective">Chapter 1 - Objective</a></li>
              <li><a href="/dfpadsenseoptimiser/book/chapter-2-requirements">Chapter 2 - Requirements</a></li>
              <li><a href="/dfpadsenseoptimiser/book/chapter-3-styling-google-adsense">Chapter 3 - Styling AdSense</a></li>
              <li><a href="/dfpadsenseoptimiser/book/chapter-4-using-google-website-optimizer">Chapter 4 - Using Google Website Optimizer</a></li>
              <li><a href="/dfpadsenseoptimiser/book/chapter-5-optimizing-google-adsense">Chapter 5 - Optimizing Google AdSense</a></li>
              <li><a href="/dfpadsenseoptimiser/book/chapter-6-using-dfp-doubleclick-for-publishers-small-business">Chapter 6 - Using DoubleClick For Publishers (Small Business)</a></li>
            </ol>
          {{ page.sub1 }}
          {% for item in page.sub1 %}
            {{ item }}<br />
          {% endfor %}
            {% include chapter-1.html %} 
          </div>
        </div>
      </div>

      <footer>
        <p>&copy; Christian Schaefer 2011</p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
